body{
    background-image: url(./Imagenes/kanto-map.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
        background-color: rgba(0, 0, 0, 0.774);
        margin-left: auto;
        margin-right: auto;
        width: 16em;
        text-align: center;
        color: rgb(219, 219, 219)
    }

a{
    text-decoration: none;
    color: white;
}

h1{ 
    background-color: 0,0,0,0.5;
    text-align: center;
}

@font-face {
    font-family: Pokemon;
    src: url(pkmn.ttf);
}